[submodule "lisp/my-lisp/beancount-mode"]
	path = lisp/my-lisp/beancount-mode
	url = https://github.com/beancount/beancount-mode.git
[submodule "lisp/my-lisp/org-roam-ui"]
	path = lisp/my-lisp/org-roam-ui
	url = https://github.com/org-roam/org-roam-ui.git
[submodule "lisp/my-lisp/auto-save"]
	path = lisp/my-lisp/auto-save
	url = https://github.com/manateelazycat/auto-save.git
[submodule "lisp/my-lisp/jest-coverage"]
	path = lisp/my-lisp/jest-coverage
	url = https://github.com/Spike-Leung/coverage.el.git
