[submodule "lisp/my-lisp/auto-save"]
	path = lisp/my-lisp/auto-save
	url = https://github.com/manateelazycat/auto-save.git
[submodule "lisp/my-lisp/beancount-mode"]
	path = lisp/my-lisp/beancount-mode
	url = git@github.com:beancount/beancount-mode.git
[submodule "lisp/my-lisp/gitmoji"]
	path = lisp/my-lisp/gitmoji
	url = git@github.com:Spike-Leung/gitmoji.git
[submodule "lisp/my-lisp/clue"]
	path = lisp/my-lisp/clue
	url = git@github.com:AmaiKinono/clue.git
[submodule "lisp/my-lisp/codeium"]
	path = lisp/my-lisp/codeium
	url = git@github.com:Exafunction/codeium.el.git
